modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_PRICE_PRIVAT_MONTHLY_CHF = "price_1TGicjRTCVhfZcc4dqbYENcY"
STRIPE_PRICE_PRIVAT_ANNUAL_CHF = "price_1TGicjRTCVhfZcc4a1TUGN6J"
STRIPE_PRICE_PRIVAT_MONTHLY_EUR = "price_1TGickRTCVhfZcc4UpnvGgcX"
STRIPE_PRICE_PRIVAT_ANNUAL_EUR = "price_1TGickRTCVhfZcc4JB7ONTYN"
STRIPE_PRICE_PRIVAT_MONTHLY_USD = "price_1TGickRTCVhfZcc4HgfHOVwa"
STRIPE_PRICE_PRIVAT_ANNUAL_USD = "price_1TGiclRTCVhfZcc4vitg16mE"
STRIPE_PRICE_AGENTUR_MONTHLY_CHF = "price_1TGiclRTCVhfZcc4ogxZOmLD"
STRIPE_PRICE_AGENTUR_ANNUAL_CHF = "price_1TGiclRTCVhfZcc4GnjiiWBY"
STRIPE_PRICE_AGENTUR_MONTHLY_EUR = "price_1TGicmRTCVhfZcc4dg5V2yFp"
STRIPE_PRICE_AGENTUR_ANNUAL_EUR = "price_1TGicmRTCVhfZcc4hXnt9BXW"
STRIPE_PRICE_AGENTUR_MONTHLY_USD = "price_1TGicmRTCVhfZcc4bUKzjaEq"
STRIPE_PRICE_AGENTUR_ANNUAL_USD = "price_1TGicmRTCVhfZcc43YX80EPo"
